
.list-document {
    display: flex;
    .left {
        flex: 0 0 184px;
        margin-right: 96px;
        text-align: center;
        ul {
            list-style: none;
            background: #EA0A2A;
            padding: 35px 0;
            font-size: 24px;
            font-weight: 700;
            box-shadow: 0px 10px 20px rgba(234, 10, 42, 0.15);
            border-radius: 10px;
            li {
                margin-bottom: 35px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        a {
            color: #fff;
            &.active {
                font-size: 30px;
            }
        }
    }
    .right {
        width: calc(100% - 280px);
    }
}
.item-docs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 6px 0;
    border-bottom: 1px solid #333333;
    margin-bottom: 30px;
    .link-docs {
        .link-docs {
            flex: 0 0 calc(100% - 95px);
        } 
        .btn-docs {
            flex: 0 0 95px;
            text-align: right;
        }
    }
}
.side-bar-news {
    position: sticky;
    top: 20px;
}
.search-news {
    position: relative;
    margin-bottom: 60px;
    input {
        border: 1px solid #828282;
        box-sizing: border-box;
        border-radius: 20px;
        height: 72px;
        width: 100%;
        font-size: 18px;
        padding: 0 20px;
    }
    button {
        cursor: pointer;
        border: 0;
        padding: 0;
        background: transparent;
        position: absolute;
        color: #BDBDBD;
        font-size: 20px;
        top: 20px;
        right: 15px;
    }
}
.item-bar {
    display: flex;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    .avarta {
        flex: 0 0 108px;
        margin-right: 16px;
    }
    .info {
        a {
            font-size: 18px;
            font-weight: 700;
            display: block;
            margin-bottom: 5px;
        }
    }
    .date-time {
        font-size: 12px;
        color: #828282;
        i {
            margin-right: 5px;
        }
    }
}

.social {
    padding: 18px 0;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    margin-top: 50px;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        background: #E0E0E0;
        border-radius: 100%;
        color: #fff;
        &:hover {
            background: #EA0A2A;
        } 
    }
}
.title-detail {
    h1 {
        line-height: 1.4;
    }
}

.bn-recruit {
    position: relative;
}
.caption-recruit {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding-bottom: 50px;
    a {
        color: #fff;
    }
    h1 {
        font-weight: 700;
        font-size: 40px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .info {
        font-size: 18px;
        margin-bottom: 20px;
        li {
            margin-bottom: 15px;
            display: inline-flex;
            align-items: center;
            padding-right: 30px;
            &:last-child {
                padding-right: 0;
            }
            img {
                margin-right: 6px;
            }
        }
    }
}
.bn-bot-recruit {
    li {
        padding-right: 16px;
        &:last-child {
            padding-right: 0;
        }
    }
    .btn-social {
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background: transparent;
        border: 1px solid #fff;
        &:hover {
            background: #EA0A2A;
            color: #fff;
            border: 1px solid #EA0A2A;
        }
    }
}
.btn-global {
    display: inline-flex;
    height: 47px;
    background: #EA0A2A;
    border-radius: 23.5px 23.5px 23.5px 0px;
    font-size: 18px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    color: #fff;
    border: 1px solid $red;
    &:hover {
        background: #fff;
        color: $red !important;
    }
}

.detail-content {
    .bn-bot-recruit {
        padding-top: 50px;
    }
    .btn-global {
        color: #fff;
    }
    .btn-social {
        color: #DADADA;
        border: 1px solid #DADADA;
        &:hover {
            color: #fff;
            border: 1px solid #EA0A2A;
        }
    }
}

.side-bar-recruit {
    box-shadow: 0px 10px 20px #dddddd80;
    border-radius: 17px;
    background: #fff;
    padding: 32px;
    position: sticky;
    top: 20px;
    .title-bar {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    ul {
        list-style: none;
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            display: block;
            font-size: 20px;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 6px;
        }
        span {
            color: #828282;
        }
    }
}
.news-bar {
    .title-bar {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
}

.list-about {
    .title {
        margin-bottom: 30px;
    }
}
.txt-about-cate {
    h3 {
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 12px;
    }
    p {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.item-about {
    margin-bottom: 80px;
    &:last-child {
        margin-bottom: 0;
    }
    &:nth-child(2n+1) {
        .txt-about-cate {
            padding-right: 80px;
        }
    }
    &:nth-child(2n) {
        .col-md-6 {
            &:first-child {
                order: 2;
            }
            &:last-child {
                order: 1
            }
        }
        .txt-about-cate {
            padding-left: 80px;
        }
    }
}

.list-partner {
    margin: 0 auto;
    max-width: 780px;
    .col-md-2 {
        flex: 0 0 20%;
        max-width: 20%;
        padding: 30px 15px;
    }
    img {
        max-width: 103px;
        border-radius: 10px;
    }
}
.item-part {
    text-align: center;
}
.box-global {
    background-size: contain !important;
}
.content-hist {
    padding: 60px 10px 0 10px;
    // position: relative; 
    &:after {
        content: "";
        width: 66%;
        height: calc(100% - 60px);
        background: #EEEEEE;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
}
.item-his {
    box-shadow: 0px 10px 20px rgb(221 221 221 / 50%);
    padding: 30px 15px 100px 15px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    min-height: 200px;
    .desc {
        font-size: 15px;
    }
    .year-his {
        font-size: 32px;
        font-weight: 700;
        color: #fff;
        position: absolute;
        background: $red;
        width: 100%;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        line-height: 1;
        padding-bottom: 4px;
    }
}

.box-history {
    .title {
        margin-bottom: 24px;
        h2 {
            font-size: 38px;
        }
    }
    .container {
        position: relative;
    }
    .col-md-8 {
        position: unset;
    }
    .slide-history {
        position: unset;
    }
    .slick-arrow {
        top: unset;
        bottom: 50px;
        left: 15px;
        background: #E0E1E0;
        color: #fff;
        filter: none;
        &:hover {
            background: $red;
        }
        &.next {
            right: unset;
            left: 75px;
        }
    }
}

.about-history {
    background: #910016;
    color: #fff;
}

.caps-abs {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.item-dev {
    position: relative;
    padding: 200px 0 200px 80px;
    img {
        border-radius: 10px;
    }
    .caption {
        background: #fff;
        color: #000000;
        padding: 20px;
        max-width: 310px;
        right: 0;
        top: 0;
        font-size: 15px;
        margin-left: auto;
        margin-right: 50px;
        z-index: 2;
        h3 {
            font-size: 16px; 
            font-weight: 700;
            margin-bottom: 5px;
        }
    }
    .avarta {
        position: relative;
        z-index: 2;
    }
    .dev-year {
        font-size: 320px;
        font-weight: 300;
        color: #A9011A;
        line-height: 0.7;
        position: absolute;
        bottom: 100px;
        z-index: 0;
        left: 0;
    }
}
.list-history {
    position: relative;
    .item-slide {
        &:nth-child(2n+1) {
            .dev-year {
               bottom: unset;
               top: 100px; 
            }
        }
    }
    .left {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .avarta {
            border-radius: 10px;
        }
    }
    &:after {
        content: "";
        width: 14px;
        height: 14px;
        border-radius: 100%;
        background: #FF4A68;
        position: absolute;
        left: 0;
        top: calc(50% - 7px);
    }
    &:before {
        content: "";
        width: 100%;
        height: 1px;
        border-radius: 100%;
        background: #FF4A68;
        position: absolute;
        left: 0;
        top: 50%;
    }
}

.list-date-slide {
    position: absolute;
    top: 0;
    right: 0;
    text-align: initial;
    padding: 50px 50px 0 0;
    li {
        padding-right: 30px;
        &:last-child {
            padding-right: 0;
        }
    }
    a {
        color: #fff;
    }
}
.notice-dev {
    position: absolute;
    color: #fff;
    bottom: 30px;
    right: 0;
    width: 100%;
    padding-right: 50px;
}