@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProBoldItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProBold.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProBoldItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
 
@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face { 
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProLight.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProLight.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProLightItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProLightItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansPro.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansPro.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProSemiBold.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProSemiBold.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProSemiBoldItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProSemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProSemiBoldItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProSemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProThin.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProThinItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProThin.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProThinItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro XThin';
    src: url('../fonts/beausan/FSPFBeauSansProXThin.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProXThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro XThin';
    src: url('../fonts/beausan/FSPFBeauSansProXThin.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProXThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro XThin';
    src: url('../fonts/beausan/FSPFBeauSansProXThinItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProXThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro XThin';
    src: url('../fonts/beausan/FSPFBeauSansProXThinItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProXThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro Bbook';
    src: url('../fonts/beausan/FSPFBeauSansProBbook.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProBbook.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro Bbook';
    src: url('../fonts/beausan/FSPFBeauSansProBbook.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProBbook.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProBlack.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro Bbook';
    src: url('../fonts/beausan/FSPFBeauSansProBbookItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProBbookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro Bbook';
    src: url('../fonts/beausan/FSPFBeauSansProBbookItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProBbookItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProBlackItalic.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'FS PF BeauSans Pro';
    src: url('../fonts/beausan/FSPFBeauSansProBlack.woff2') format('woff2'),
        url('../fonts/beausan/FSPFBeauSansProBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}




 
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.pt-90 {
    padding-top: 90px;
}
.pb-90 {
    padding-bottom: 90px;
}
.pt-80 {
    padding-top: 80px;
}
.pb-80 {
    padding-bottom: 80px;
}
.pt-70 {
    padding-top: 70px;
}
.pb-70 {
    padding-bottom: 70px;
}
.pt-60 {
    padding-top: 60px;
}
.pb-60 {
    padding-bottom: 60px;
}
.pt-50 {
    padding-top: 50px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pt-40 {
    padding-top: 40px;
}
.pb-40 {
    padding-bottom: 40px;
} 
.pt-30 {
    padding-top: 30px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pt-10 {
    padding-top: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}


@media (max-width: 767px) {
    .pb-80 {
        padding-bottom: 25px;
    }

    .pt-80 {
        padding-top: 25px;
    }

    .pb-100 {
        padding-bottom: 25px;
    }

    .pt-100 {
        padding-top: 25px;
    }

    .pt-60 {
        padding-top: 20px;
    }

    .pb-60 {
        padding-bottom: 15px;
    }

    .pt-40 {
        padding-top: 15px;
    }
}