 .breadcrumbs {
 	padding: 130px 0 60px 0;
 	background-size: cover !important;
 	color: #fff;
 }
 .info-bread {
 	h4 {
 		font-size: 24px;
	    font-weight: 400;
	    margin-bottom: 10px;
	    line-height: initial;
 	}
 	h2 {
 		font-size: 52px;
    	font-weight: 700;
 	}
 }
 .list-prd {
 	.row {
 		margin: 0 -5px;
 		.col-md-4 {
 			padding: 0 5px;
 			margin-bottom: 10px;
 		}
 	}
 	.item-prd {
 		box-shadow: 0px 10px 40px rgba(224, 224, 224, 0.4);
		border-radius: 10px;
		overflow: hidden;
		.avarta {
			margin-bottom: 10px;
		}
		.info {
			padding: 0 15px 15px 15px;
			del {
				color: #99D8DD !important;
			}
		}
 	}
 }
 .filter-top {
 	font-size: 16px;
    color: #7C8087;
    margin-bottom: 20px;
    li {
    	&:first-child {
    		padding-right: 50px;
    	}
    }
    select {
    	background: transparent;
    	border: 0;
    	color: #7C8087;
    }
 }

 .title-bar {
 	background: rgba(224, 224, 224, 0.4);
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
    color: #081F32;
    font-weight: 700;
    padding: 15px;
 }

.side-bar {
	list-style: none;
    font-size: 16px;
    border: 1px solid #E5E5E5;
    position: sticky;
    top: 20px;
    ul {
    	list-style: none;
    	border: 1px solid #E5E5E5;
    	li {
    		padding: 10px 15px;
    		border-bottom: 1px solid #E5E5E5;
    		&:last-child {
    			border-bottom: 0;
    		}
    	}
    	a {
    		color: #7C8087;
    		&.active {
    			color: #081F32;
    			flex-wrap: 600;
    		}
    	}
    }
}

.pagination {
	padding-top: 40px;
	a {
		display: flex;
	    background: #F2F2F2;
	    height: 45px;
	    width: 45px;
	    justify-content: center;
	    align-items: center;
	    border: 1px solid #f2f2f2;
	    &.active, &:hover {
	    	background: #fff;
	    	border: 1px solid #5CB4C2;
	    	color: #5CB4C2;
	    }
	}
}

.slide-thumb {
	.slider-for {
		margin-bottom: 15px;
	}
}
.slider-nav {
	margin: 0 -5px;
	.clc {
		padding: 0 5px;
		cursor: pointer;
	}
}
.info-preview {
	.vote {
		font-size: 14px;
	    border-bottom: 1px solid #E5E5E5;
	    padding-bottom: 15px;
	    img {
	    	position: relative;
    		top: -2px;
	    }
	}
	.desc {
		padding: 15px 0;
	    border-bottom: 1px solid #E5E5E5;
	    font-size: 14px;
	}
	.price-info {
		padding: 15px 0;
	    border-bottom: 1px solid #E5E5E5;
	    font-size: 14px;
	    del {
	    	color: #C4C4C4;
		    font-size: 22px;
		    display: block;
		    line-height: 1;
	    }
	    span {
	    	font-size: 36px;
		    font-weight: 700;
		    color: #02587B;
		    line-height: 1;
	    }
	    ul {
	    	list-style: none;
    		padding-top: 15px;
    		li 
    		{
    			padding: 3px 0;
    		}
	    }
	}
}
.quantity-numb {
	padding: 15px 0;
    border-bottom: 1px solid #E5E5E5;
    ul {
    	margin-bottom: 10px;
    }
}
.quantity {
	.ns-btn {
		width: 48px;
	    display: inline-flex;
	    height: 48px;
	    justify-content: center;
	    align-items: center;
	    background: #F2F2F2;
	    cursor: pointer;
	}
	input {
		width: 100px;
	    height: 48px;
	    text-align: center;
	    border: 1px solid #E8E8E8;
	}
}
.social {
	padding-top: 50px;
	li {
		padding: 0 4px;
	}
}

.content-detail {
	.detail {
		text-align: justify;
    	color: #374A59;
    	p {
    		margin-bottom: 15px;
    		img {
    			max-width: 100%;
    		}
    	}
	}
}
.title-prd {
	color: #02587B;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}
.side-bar-prd {
	position: sticky;
    top: 20px;
	h4 {
		font-size: 18px;
	    font-weight: 600;
	    color: #5CB4C2;
	    text-align: center;
	    margin-bottom: 20px;
	}
}
.prd-bar {
	border: 1px solid #e5e5e5;
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
    &:last-child {
    	margin-bottom: 0;
    }
    .avarta {
    	flex: 0 0 120px;
    }
    .info {
    	padding: 10px;
    	a {
    		display: block;
		    font-size: 18px;
		    font-weight: 600;
		    margin-bottom: 5px;
    	}
    	.desc {
    		font-size: 14px;
		    line-height: 1.4;
		    color: #6E798C;
    	}
    }
    .price {
    	color: #02587B;
    	font-weight: 700;
    }
}

#cart {
	padding: 100px 0;
}
.list-cart {
	table {
		width: 100%;
		tr {
			border: 1px solid #ebebeb;
		}
		td {
			padding: 5px;
		}
	}
	.number-spinner {
		display: flex;
	}
	.quantity .ns-btn {
		width: 40px;
    	height: 40px;
	}
	.quantity input {
		width: 40px;
	    height: 40px;
	    background: #f2f2f2;
	}
}
.order-prd {
	display: flex;
    align-items: center;
    .avarta {
    	margin-right: 10px;
    	flex: 0 0 100px;
    }
    h4 {
    	a {
    		font-size: 16px;
    		font-weight: 600;
    	}
    }
}

.box-cart-total {
	background: #F6F6F6;
    border: 1px solid #EEEEEE;
    padding: 20px;
    .title {
    	font-size: 20px;
	    font-weight: 600;
	    color: #000000;
	    border-bottom: 1px solid #ddd;
	    padding-bottom: 10px;
    }
    ul {
    	list-style: none;
	    font-size: 14px;
	    color: #666666;
	    li {
	    	display: flex;
		    justify-content: space-between;
		    padding: 10px 0;
		    border-bottom: 1px solid #ddd;
	    }
    }
}
.addto-cart {
	padding-top: 15px;
	a {
		display: flex;
	    justify-content: center;
	    background: $yellow;
	    height: 48px;
	    align-items: center;
	    font-size: 16px;
	    font-weight: 600;
	}
}

#contact {
    padding: 60px 0;
}
.form-ct {
    margin-bottom: 40px;
    .row {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    input {
        background: #f6f6f6;
        padding: 0 15px;
        border: 0;
        height: 50px;
        width: 100%;
        &.btn-ct {
            width: 200px;
            background: $yellow;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    textarea {
        background: #f6f6f6;
        padding: 10px 15px;
        border: 0;
        height: 240px;
        width: 100%;
        outline: none;
    }
    label {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 6px;
        display: block;
    }
}
.box-bar-ct {
    .item {
        margin-bottom: 40px;
        color: #666666;
        font-size: 14px;
        .icon {
            margin-bottom: 8px;
        }
        h3 {
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 10px;
            color: #000000;
        }
        ul {
            list-style: none;
        }
    }
}

.bread-contact {
	padding: 100px 0;
	background-size: cover !important;
	color: #fff;
	.info {
		max-width: 615px;
    	margin: 0 auto;
	}
	h1 {
		font-size: 50px;
	    font-weight: 700;
	    margin-bottom: 10px;
	}
	p {
		font-size: 16px;
	}
}

.list-meet {
	.col-md-4 {
		margin-bottom: 30px;
	}
	.item-pr-4 {
		.avarta {
			margin-bottom: 15px;
		}
		.info {
			position: relative;
			a {
				display: block;
			    color: #02587B;
			    font-weight: 600;
			}
			&:after {
				content: "";
				width: 100%;
				height: 2px;
				background: $yellow;
				position: absolute;
				bottom: -8px;
				left: 0;
			}
		}
	}
}

#checkout {
	padding: 0 0 60px 0;
}
.form-checkout {
	.item {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
		label {
			font-size: 13px;
			font-weight: 400;
			margin-bottom: 5px;
			&.check-mem {
				margin-bottom: 0;
				cursor: pointer;
			}
		}
		input[type="text"] {
			width: 100%;
			height: 40px;
			background: #f6f6f6;
			border: 0;
			padding: 0 15px;
		}
		textarea {
			width: 100%;
			height: 100px;
			background: #f6f6f6;
			border: 0;
			padding: 0 15px;
		}
		input[type=checkbox] {
		    position: relative;
		    top: 2px;
		    margin-right: 5px;
		}
	}
}
.form-box-order {
    background: #f6f6f6;
    padding: 20px;
    .title {
	    font-size: 24px;
	    margin-bottom: 20px;
    }
    ul {
    	list-style: none;
    	li {
    		padding: 20px 0;
    		font-size: 14px;
    		display: flex;
    		align-items: center;
    		justify-content: space-between;
    		border-bottom: 1px solid #ddd;
    		&:last-child {
    			border-bottom: 0;
    			padding-bottom: 0;
    		}
    		.total {
    			font-size: 18px;
    		}
    	}
    }
}
.item-order {
	background: #fff;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .prd-left {
    	flex: 0 0 70%;
	    display: flex;
	    align-items: center;
    }
    .price {
    	text-align: center;
    	flex: 0 0 30%;
    }
}
.order-prd {
	display: flex;
    align-items: center;
    .avarta {
    	flex: 0 0 100px;
    	margin-right: 10px;
    }
    .info {
    	a {
    		display: block;
    		font-size: 14px;
    	}
    }
}
.method-order {
	padding: 20px 0;
    border-bottom: 2px solid #365A6E;
    margin-bottom: 20px;
    ul {
    	display: flex;
    	justify-content: space-between;
    	label {
    		cursor: pointer;
    	}
    }
}
.box-info-bank {
	background: #f6f6f6;
    margin-top: 20px;
    font-size: 14px;
    padding: 20px;
    color: #666666;
    p {
    	padding: 4px 0;
    }
}
.title-cart {
    font-size: 36px;
    font-weight: 700;
    color: #02587B;
    margin-bottom: 30px;
}