@media (max-width: 767px) {
    header { display: none; }
    .right-banner {
        display: none;
    }

    .box-banner .slick-dots {
        right: 0;
        width: 100%;
        bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box-banner .slick-dots li {margin-top: 0  !important;}

    .txt-about {
        width: 100%;
        padding: 20px 15px;
    }

    .title h2 {
        font-size: 25px;
    }

    .title {
        margin-bottom: 15px;
    }

    .txt-about h1 {
        font-size: 16px;
    }

    body {
        font-size: 14px;
    }

    .txt-about .btn-about {
        margin-top: 20px;
    }

    .btn-global {
        height: 40px;
        font-size: 15px;
    }

    .box-about .col-md-8 {
        display: none;
    }

    .box-worth .left .avarta img {
        max-width: 100%;
    }

    .box-worth .left .avarta .item {
        padding-right: 20%;
    }

    .box-worth .left .avarta .item.item-abs {
        padding-right: 0;
        left: unset;
        right: 15px;
        max-width: 65%;
    }

    .box-worth .left .avarta {
        padding-bottom: 30px;
    }

    .txt-worth {
        padding-top: 30px;
    }

    .list-worth {
        padding-top: 15px;
    }

    .list-worth .item h3 {
        font-size: 16px;
    }

    .list-worth .item {
    }

    .list-number {
        justify-content: center;
    }

    .list-number .item {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 35px;
    }

    .list-number .txt-num {
        margin-top: 8px;
    }

    .list-number .txt-num span {
        font-size: 25px;
    }

    .list-number .cir-numb {
        width: 120px;
        height: 120px;
        font-size: 12px;
    }

    .list-number .cir-numb .icon img {
        max-height: 45px;
    }

    .list-number .img-top img {
        max-height: 60px;
    }

    .list-number .img-top {
        margin-bottom: -20px;
    }

    .list-number .item:last-child {
        margin-bottom: 0;
    }

    .maps-viettel {
        margin-top: 20px;
    }

    .date .num-date {
        font-size: 20px;
    }

    .date {
        font-size: 10px;
        height: 60px;
        margin-right: 10px;
        width: 60px;
    }

    .new-big .desc {
        display: none;
    }

    .new-big .info a {
        margin-bottom: 0;
        font-size: 16px;
    }

    .new-big .info-abs {
        padding: 0 15px 15px 15px;
    }

    .item-new-small .desc {
        display: none;
    }

    .item-new-small .info a {
        margin-bottom: 0;
        font-size: 15px;
    }

    .item-new-small .avarta .date {
        right: 0;
        top: 10px;
    }

    .item-new-small .avarta {
        margin-right: 15px;
        flex: 0 0 40%;
    }

    .new-big {
        margin-bottom: 15px;
    }

    .item-new-small {
        margin-bottom: 15px;
    }

    .list-gall .col-md-3 {
        display: flex;
    }

    .list-gall .col-md-3.item-gall {
        flex: 0 0 50%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .list-gall .col-md-3 .item-gall {
        flex: 0 0 50%;
        padding: 0 7px;
        box-sizing: border-box;
    }

    .list-gall .row .col-md-6, .list-gall .row .col-md-3 {
        padding: 0 10px;
    }

    .list-gall .item-gall {
        margin-bottom: 0;
    }

    .list-gall .row .col-md-6 {
        padding: 15px;
    }

    .sub-maps {
        display: none;
    }

    .list-document {
        display: block;
    }

    .list-document .right {
        width: 100%;
    }

    .list-document .left ul {
        padding: 15px;
        font-size: 18px;
        display: flex;
        align-items: center;
        padding-right: 30px;
        width: auto;
    }

    .list-document .left {
        margin-right: 0;
        overflow: auto;
        background: #ea0a2a;
        position: relative;
        left: -15px;
        width: calc(100% + 30px);
        padding-right: 30px;
        margin-bottom: 15px;
    }

    .list-document .left ul li {
        margin-bottom: 0;
        margin-right: 35px;
    }

    .list-document .left a.active {
        font-size: 22px;
    }

    .item-docs {
        margin-bottom: 15px;
        padding-bottom: 0;
        display: block;
    }

    .btn-docs {
        padding: 10px 0;
    }

    .list-invest .col-md-6 {
        margin-bottom: 15px;
    }

    .list-invest .col-md-6:last-child {
        margin-bottom: 0;
    }

    .item-invest .info {
        padding: 15px;
    }

    .item-invest .info a {
        font-size: 22px;
        display: block;
        text-align: center;
    }

    .info-prize .avarta {
        margin-bottom: 20px;
    }

    .info-prize .info {
        padding-left: 0;
    }

    .info-prize .col-md-6.pr-0 {
        padding-right: 15px !important;
    }

    .info-prize .sapo {
        font-size: 18px;
    }

    .info-prize .sapo img {
        top: 6px;
    }

    .info-prize .desc {
        font-size: 16px;
    }

    .info-prize .desc p {
        margin-bottom: 10px;
    }

    .item-media {
        display: flex;
    }

    .item-media .avarta {
        margin-bottom: 0;
        border-radius: 5px;
        margin-right: 10px;
        flex: 0 0 45%;
    }

    .date-time {
        font-size: 14px;
    }

    .item-media .info a {
        font-size: 16px;
    }

    .list-media .col-md-4 {
        margin-bottom: 15px;
    }

    .gallery .pagination {
        padding-top: 20px;
    }
}