* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/beausan/PFBeauSansPro-Bold.eot");
  src: local("PFBeauSansPro-Bold"), url("../fonts/beausan/PFBeauSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/beausan/PFBeauSansPro-Bold.woff") format("woff"), url("../fonts/beausan/PFBeauSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/beausan/PFBeauSansPro-SemiBoldItalic.eot");
  src: local("PFBeauSansPro-SemiBoldItalic"), url("../fonts/beausan/PFBeauSansPro-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/beausan/PFBeauSansPro-SemiBoldItalic.woff") format("woff"), url("../fonts/beausan/PFBeauSansPro-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/beausan/PFBeauSansPro-SemiBold.eot");
  src: local("PFBeauSansPro-SemiBold"), url("../fonts/beausan/PFBeauSansPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/beausan/PFBeauSansPro-SemiBold.woff") format("woff"), url("../fonts/beausan/PFBeauSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/beausan/PFBeauSansPro-Regular.eot");
  src: local("PFBeauSansPro-Regular"), url("../fonts/beausan/PFBeauSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/beausan/PFBeauSansPro-Regular.woff") format("woff"), url("../fonts/beausan/PFBeauSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/beausan/PFBeauSansPro-BoldItalic.eot");
  src: local("PFBeauSansPro-BoldItalic"), url("../fonts/beausan/PFBeauSansPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/beausan/PFBeauSansPro-BoldItalic.woff") format("woff"), url("../fonts/beausan/PFBeauSansPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }
.pt-100 {
  padding-top: 100px; }

.pb-100 {
  padding-bottom: 100px; }

.pt-90 {
  padding-top: 90px; }

.pb-90 {
  padding-bottom: 90px; }

.pt-80 {
  padding-top: 80px; }

.pb-80 {
  padding-bottom: 80px; }

.pt-70 {
  padding-top: 70px; }

.pb-70 {
  padding-bottom: 70px; }

.pt-60 {
  padding-top: 60px; }

.pb-60 {
  padding-bottom: 60px; }

.pt-50 {
  padding-top: 50px; }

.pb-50 {
  padding-bottom: 50px; }

.pt-40 {
  padding-top: 40px; }

.pb-40 {
  padding-bottom: 40px; }

.pt-30 {
  padding-top: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.pt-20 {
  padding-top: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.pt-10 {
  padding-top: 10px; }

.pb-10 {
  padding-bottom: 10px; }

body {
  box-sizing: border-box;
  color: #000000;
  padding: 0 !important;
  font-size: 16px;
  line-height: 1.6;
  transition: .3s all;
  position: relative;
  font-weight: 400;
  font-family: 'PF BeauSans Pro'; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p, body label, body ul, body li, body .card, body a {
    text-decoration: none !important;
    transition: .3s all;
    margin-bottom: 0;
    outline: none !important; }
  body a {
    transition: .3s all !important;
    color: #000000; }
  body ul {
    padding: 0;
    margin: 0; }
  body input, body button {
    outline: none !important;
    box-shadow: none;
    transition: .3s all; }
  body .slick-slide {
    height: auto; }
    body .slick-slide img {
      display: inline; }
  body .container {
    width: 100%;
    max-width: 1255px; }
  body img {
    max-width: 100%; }

.slick-slider {
  margin-bottom: 0; }

.avarta {
  overflow: hidden; }
  .avarta img {
    transition: .7s all; }
    .avarta img:hover {
      transition: .7s all; }

.box-banner {
  position: relative; }
  .box-banner .container {
    position: relative; }
  .box-banner .slick-dots {
    bottom: 30px;
    position: absolute;
    width: auto;
    display: inline-flex;
    flex-wrap: wrap;
    right: -30px;
    width: 10px; }
    .box-banner .slick-dots button {
      display: none; }
    .box-banner .slick-dots li {
      width: 10px;
      height: 10px;
      border: 1px solid #BDBDBD;
      background: #fff;
      border-radius: 100%;
      transition: .3s all;
      flex: 0 0 10px;
      margin-top: 12px; }
      .box-banner .slick-dots li.slick-active, .box-banner .slick-dots li:hover {
        transition: .3s all;
        background: #EA0A2A;
        border: 1px solid #EA0A2A; }
      .box-banner .slick-dots li:first-child {
        margin-top: 0; }

.right-banner {
  position: absolute;
  background: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  right: -30px;
  top: 0; }
  .right-banner ul {
    list-style: none; }
    .right-banner ul li {
      position: relative;
      padding-bottom: 10px; }
      .right-banner ul li:last-child {
        padding-bottom: 0; }
      .right-banner ul li:after {
        content: "";
        width: 22px;
        height: 2px;
        background: #0D100C;
        position: absolute;
        left: -4px;
        bottom: 3px; }
      .right-banner ul li:last-child:after {
        display: none; }

.slide-banner img {
  border-radius: 30px 0 30px 0; }

.box-about .avarta img {
  border-radius: 20px 0px 0px 20px; }

.title {
  margin-bottom: 40px; }
  .title h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase; }

.txt-about {
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(234, 10, 42, 0.2);
  border-radius: 20px;
  width: 625px;
  position: relative;
  z-index: 1;
  padding: 55px 50px; }
  .txt-about h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.4; }

.box-worth .left .avarta {
  padding-bottom: 65px; }
  .box-worth .left .avarta img {
    max-width: 435px;
    border-radius: 20px; }
.box-worth .item-abs {
  position: absolute;
  bottom: 0;
  left: 34%; }
  .box-worth .item-abs img {
    max-width: 322px; }

.list-worth .item {
  display: flex;
  margin-bottom: 30px; }
  .list-worth .item:last-child {
    margin-bottom: 0; }
  .list-worth .item .icon {
    flex: 0 0 40px;
    position: relative;
    margin-right: 25px; }
    .list-worth .item .icon:after {
      content: "";
      background: #FF4661;
      position: absolute;
      border-radius: 100%;
      width: 28px;
      height: 28px;
      right: -5px;
      top: 14px;
      z-index: -1; }
  .list-worth .item h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 4px; }

.list-number {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between; }
  .list-number .item {
    flex: 0 0 20%;
    max-width: 20%; }
  .list-number .img-top {
    margin-bottom: -36px;
    position: relative;
    z-index: 1; }
  .list-number .cir-numb {
    background: #ff6379;
    width: 156px;
    height: 156px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin: 0 auto;
    position: relative;
    z-index: 2; }
    .list-number .cir-numb .icon {
      margin-bottom: 8px; }
  .list-number .txt-num {
    margin-top: 25px;
    font-size: 14px; }
    .list-number .txt-num span {
      font-size: 36px;
      font-weight: 700; }

.list-new-home .row {
  margin: 0 -12px; }
  .list-new-home .row .col-md-6 {
    padding: 0 12px; }

.date {
  background: #EA0A2A;
  margin-right: 20px;
  color: #fff;
  padding: 12px 10px 8px 10px;
  width: 73px;
  height: 73px;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .date .num-date {
    font-size: 36px;
    font-weight: bold;
    line-height: 0.8;
    flex: 0 0 100%; }
    .date .num-date span {
      font-size: 14px; }

.new-big {
  position: relative; }
  .new-big .info-abs {
    position: absolute;
    bottom: 0;
    padding: 0 40px 40px 40px;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: end; }
  .new-big .info a {
    display: flex;
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 700; }

.item-new-small {
  margin-bottom: 24px;
  display: flex;
  align-items: center; }
  .item-new-small:last-child {
    margin-bottom: 0; }
  .item-new-small .avarta {
    flex: 0 0 184px;
    margin-right: 48px;
    position: relative;
    overflow: unset; }
    .item-new-small .avarta .date {
      position: absolute;
      top: 20px;
      right: -40px; }
  .item-new-small .info {
    line-height: 1.5;
    font-size: 14px; }
    .item-new-small .info a {
      font-size: 18px;
      font-weight: 700;
      display: block;
      line-height: 1.4;
      margin-bottom: 10px; }

.list-gall .row {
  margin: 0 -12px; }
  .list-gall .row .col-md-6, .list-gall .row .col-md-3 {
    padding: 0 12px; }
.list-gall .item-gall {
  margin-bottom: 24px; }
  .list-gall .item-gall:last-child {
    margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
