@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProBoldItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProBold.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProBoldItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProLight.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProLight.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProLightItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProLightItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansPro.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansPro.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProSemiBold.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProSemiBold.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProSemiBoldItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProSemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProSemiBoldItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProSemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProThin.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProThinItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProThin.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProThinItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro XThin";
  src: url("../fonts/beausan/FSPFBeauSansProXThin.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProXThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro XThin";
  src: url("../fonts/beausan/FSPFBeauSansProXThin.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProXThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro XThin";
  src: url("../fonts/beausan/FSPFBeauSansProXThinItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProXThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro XThin";
  src: url("../fonts/beausan/FSPFBeauSansProXThinItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProXThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro Bbook";
  src: url("../fonts/beausan/FSPFBeauSansProBbook.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProBbook.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro Bbook";
  src: url("../fonts/beausan/FSPFBeauSansProBbook.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProBbook.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProBlack.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro Bbook";
  src: url("../fonts/beausan/FSPFBeauSansProBbookItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProBbookItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro Bbook";
  src: url("../fonts/beausan/FSPFBeauSansProBbookItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProBbookItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProBlackItalic.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "FS PF BeauSans Pro";
  src: url("../fonts/beausan/FSPFBeauSansProBlack.woff2") format("woff2"), url("../fonts/beausan/FSPFBeauSansProBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-90 {
  padding-top: 90px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

@media (max-width: 767px) {
  .pb-80 {
    padding-bottom: 25px;
  }

  .pt-80 {
    padding-top: 25px;
  }

  .pb-100 {
    padding-bottom: 25px;
  }

  .pt-100 {
    padding-top: 25px;
  }

  .pt-60 {
    padding-top: 20px;
  }

  .pb-60 {
    padding-bottom: 15px;
  }

  .pt-40 {
    padding-top: 15px;
  }
}
body {
  box-sizing: border-box;
  color: #000000;
  padding: 0 !important;
  font-size: 16px;
  line-height: 1.6;
  transition: 0.3s all;
  position: relative;
  font-weight: 400;
  font-family: "FS PF BeauSans Pro";
}
body h1, body h2, body h3, body h4, body h5, body h6, body p, body label, body ul, body li, body .card, body a {
  text-decoration: none !important;
  transition: 0.3s all;
  margin-bottom: 0;
  outline: none !important;
}
body a {
  transition: 0.3s all !important;
  color: #000000;
}
body a:hover {
  color: #EA0A2A;
}
body ul {
  padding: 0;
  margin: 0;
}
body input, body button {
  outline: none !important;
  box-shadow: none;
  transition: 0.3s all;
}
body .slick-slide {
  height: auto;
}
body .slick-slide img {
  display: inline;
}
body .container {
  width: 100%;
  max-width: 1255px;
}
body img {
  max-width: 100%;
}

.ul-head {
  display: block !important;
}
.ul-head dd ul {
  position: absolute;
  background: #fff;
  z-index: 10;
  box-shadow: 1px 1px 12px #ddd;
  width: 90px;
  text-align: left;
  padding: 8px;
}
.ul-head dd ul li {
  margin-bottom: 10px;
}
.ul-head dd ul li:last-child {
  margin-bottom: 0;
}
.ul-head dd ul a {
  display: flex;
  align-items: center;
  height: 32px;
  width: 68px;
  border: 1px solid #000000;
  border-radius: 30px;
  padding: 0 2px;
  cursor: pointer;
  font-weight: 700;
}

.result-trans {
  position: relative;
  padding: 0 4px;
}

.res-trans {
  display: flex;
  align-items: center;
  height: 32px;
  width: 68px;
  border: 1px solid #000000;
  border-radius: 30px;
  padding: 0 2px;
  cursor: pointer;
}
.res-trans .result-trans {
  position: relative;
  top: 1px;
  padding: 0 4px;
}

.header-top .dropdown {
  margin-bottom: 0;
}
.header-top .dropdown ul {
  list-style: none;
}

.u-trans {
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: 0.4s all;
  top: 50px;
  left: 15px;
}
.u-trans.active {
  transition: 0.4s all;
  opacity: 1;
  z-index: 10;
  visibility: visible;
  top: 38px;
  left: 0;
}

.header-menu .logo img {
  max-height: 50px;
}
.header-menu .row {
  align-items: flex-end;
}
.header-menu ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 18px;
}
.header-menu ul a {
  position: relative;
  font-weight: 600;
}
.header-menu ul a:after {
  content: "";
  transition: 0.4s all;
  left: 0;
  bottom: -4px;
  background: #EA0A2A;
  width: 0px;
  height: 4px;
  position: absolute;
}
.header-menu ul a:hover:after {
  transition: 0.4s all;
  width: 100%;
}
.header-menu ul a.active {
  font-weight: 700;
  color: #EA0A2A;
}
.header-menu ul a.active:after {
  transition: 0.4s all;
  width: 100%;
}
.header-menu ul li {
  margin-left: 55px;
  position: relative;
}
.header-menu ul li:first-child {
  margin-left: 0;
}
.header-menu ul li:hover ul {
  transition: 0.4s all;
  pointer-events: unset;
  top: 30px;
  left: 0;
  opacity: 1;
  visibility: visible;
}
.header-menu ul li:hover a:after {
  transition: 0.4s all;
  width: 100%;
}
.header-menu ul ul {
  display: block;
  position: absolute;
  background: #fff;
  z-index: 10;
  box-shadow: 0px 0px 10px #ea0a2a26;
  width: 200px;
  top: 60px;
  left: 50px;
  padding: 10px 0;
  transition: 0.4s all;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.header-menu ul ul li {
  margin: 0;
}
.header-menu ul ul a {
  display: flex;
  font-weight: 400;
  padding: 2px 24px;
}
.header-menu ul ul a:after {
  display: none;
}
.header-menu ul ul a:hover {
  background: #EA0A2A;
  color: #fff;
}

header {
  margin-bottom: 24px;
}

.box-search {
  position: relative;
}
.box-search input {
  width: 160px;
  height: 32px;
  border: 1px solid #000000;
  border-radius: 30px;
  font-size: 14px;
  padding: 0 15px;
}
.box-search button {
  color: #E0E1E0;
  border: 0;
  background: transparent;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 14px;
}
.box-search button:hover {
  color: #EA0A2A;
}

.header-top {
  position: relative;
  top: 20px;
}

.box-contact {
  position: relative;
  margin-bottom: -80px;
  z-index: 1001;
  margin-top: 200px;
}

.info-ctn {
  box-shadow: 0px 10px 30px #ea0a2a33;
  border-radius: 10px;
  padding: 28px 80px;
  background: #fff;
}

.title-contact h2 {
  font-size: 40px;
  font-weight: 700;
}

.list-form .row {
  margin: 0 -12px;
}
.list-form .row .col-md-6 {
  padding: 12px;
}
.list-form .inp-contact {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #333333;
  padding: 0 20px;
  font-size: 14px;
  height: 48px;
}

.btn-contact {
  cursor: pointer;
  border-radius: 23.5px 23.5px 23.5px 0px;
  background: #EA0A2A;
  font-size: 18px;
  font-weight: 700;
  height: 47px;
  min-width: 152px;
  border: 0;
  color: #fff;
  border: 1px solid #EA0A2A;
  transition: 0.4s all;
}
.btn-contact:hover {
  color: #EA0A2A;
  background: #fff;
  transition: 0.4s all;
}

.item-ft .list-desc .item {
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
  padding-bottom: 40px;
}
.item-ft .list-desc .item p {
  margin-bottom: 8px;
}
.item-ft .list-desc .item p:last-child {
  margin-bottom: 0;
}
.item-ft .list-desc .item h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.item-ft .list-desc .item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border: 0;
}
.item-ft .title-fter {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 35px;
  padding-top: 30px;
}
.item-ft ul {
  list-style: none;
}
.item-ft ul a {
  font-weight: 700;
  color: #fff;
}

.link-fter li {
  margin-bottom: 35px;
}
.link-fter li:last-child {
  margin-bottom: 0;
}
.link-fter a {
  font-size: 20px;
}

.social-fter ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social-fter ul li {
  flex: 0 0 50%;
  margin-bottom: 16px;
}
.social-fter ul li:nth-child(2n) {
  padding-left: 40px;
}
.social-fter a {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.social-fter a img {
  margin-right: 15px;
}

footer {
  background-size: cover !important;
  color: #fff;
  padding-top: 150px;
}

.fter-top .logo {
  margin-bottom: 30px;
}
.fter-top .col-md-5 .item-ft {
  padding-right: 100px;
}

.fter-bott {
  padding: 20px 0 40px 0;
  border-top: 1px solid #fff;
  margin-top: 30px;
}

@media (max-width: 1023px) {
  .header-top, .header-menu {
    display: none;
  }

  nav#menu {
    display: none;
    z-index: 1001;
  }

  nav#menu.mm-menu_opened {
    display: block;
  }

  header {
    margin-bottom: 0;
  }

  .header-mobile {
    padding: 15px 0;
    display: block !important;
  }

  .header-mobile .header a {
    font-size: 23px;
    color: #ea0a2a;
  }

  .translate-mb select {
    font-weight: 600;
    border: 0;
    font-size: 20px;
    outline: none;
  }

  .translate-mb {
    margin-right: 10px;
  }

  .header-mobile ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  .header-mobile .logo img {
    max-height: 35px;
  }

  .info-ctn {
    padding: 20px 15px;
  }

  .title-contact h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .list-form .row .col-md-6 {
    padding: 7px 12px;
  }

  .box-contact {
    margin-top: 50px;
  }

  footer {
    padding-top: 120px;
  }

  .item-ft .logo img {
    max-height: 70px;
  }

  .item-ft .list-desc .item h3 {
    font-size: 16px;
  }

  .item-ft .title-fter {
    padding-top: 15px;
    font-size: 25px;
    margin-bottom: 15px;
  }

  .link-fter li {
    margin-bottom: 10px;
  }

  .item-ft ul a {
    font-weight: 500;
    font-size: 15px;
  }

  .social-fter {
    margin-top: 20px;
  }

  .social-fter ul {
    padding-top: 15px;
  }

  .social-fter ul li:nth-child(2n) {
    padding-left: 0;
  }

  .fter-bott {
    padding: 15px 0;
  }

  .fter-top .col-md-5 .item-ft {
    padding-right: 0;
  }
}
.slick-slider {
  margin-bottom: 0;
}

.avarta {
  overflow: hidden;
}
.avarta img {
  transition: 0.7s all;
}
.avarta img:hover {
  transition: 0.7s all;
  transform: scale(1.06);
}

.slick-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 10px 20px rgba(234, 10, 42, 0.15));
  border-radius: 100%;
  background: #fff;
  z-index: 2;
  transition: 0.3s all;
  color: #EA0A2A;
  position: absolute;
  top: calc(50% - 25px);
  left: -15px;
  cursor: pointer;
}
.slick-arrow:hover {
  background: #EA0A2A;
  color: #fff;
}
.slick-arrow.next {
  left: unset;
  right: -15px;
}

.box-banner {
  position: relative;
}
.box-banner .container {
  position: relative;
}
.box-banner .slick-dots {
  bottom: 30px;
  position: absolute;
  width: auto;
  display: inline-flex;
  flex-wrap: wrap;
  right: -30px;
  width: 10px;
}
.box-banner .slick-dots button {
  display: none;
}
.box-banner .slick-dots li {
  width: 10px;
  height: 10px;
  border: 1px solid #BDBDBD;
  background: #fff;
  border-radius: 100%;
  transition: 0.3s all;
  flex: 0 0 10px;
  margin-top: 12px;
}
.box-banner .slick-dots li.slick-active, .box-banner .slick-dots li:hover {
  transition: 0.3s all;
  background: #EA0A2A;
  border: 1px solid #EA0A2A;
}
.box-banner .slick-dots li:first-child {
  margin-top: 0;
}

.right-banner {
  position: absolute;
  background: transparent;
  height: 100%;
  display: flex;
  align-items: center;
  right: -30px;
  top: 0;
}
.right-banner ul {
  list-style: none;
}
.right-banner ul li {
  position: relative;
  padding-bottom: 10px;
}
.right-banner ul li:last-child {
  padding-bottom: 0;
}
.right-banner ul li:after {
  content: "";
  width: 22px;
  height: 2px;
  background: #0D100C;
  position: absolute;
  left: -4px;
  bottom: 3px;
}
.right-banner ul li:last-child:after {
  display: none;
}

.slide-banner img {
  border-radius: 30px 0 30px 0;
}

.box-about .avarta img {
  border-radius: 20px 0px 0px 20px;
}

.title {
  margin-bottom: 40px;
}
.title h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
.title p {
  margin-top: 10px;
}

.txt-about {
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(234, 10, 42, 0.2);
  border-radius: 20px;
  width: 625px;
  position: relative;
  z-index: 1;
  padding: 55px 50px;
}
.txt-about h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.4;
}
.txt-about .btn-about {
  margin-top: 50px;
}

.box-worth .left .avarta {
  padding-bottom: 65px;
}
.box-worth .left .avarta img {
  max-width: 435px;
  border-radius: 20px;
}
.box-worth .item-abs {
  position: absolute;
  bottom: 0;
  left: 34%;
}
.box-worth .item-abs img {
  max-width: 322px;
}

.maps-viettel {
  position: relative;
  margin-top: 80px;
}

.item-maps {
  position: absolute;
  cursor: pointer;
}

.map-1 {
  top: 50%;
  left: 25%;
}

.map-2 {
  left: 25%;
  top: 72%;
}

.map-3 {
  left: 49%;
  top: 61%;
}

.map-4 {
  left: 55%;
  top: 72%;
}

.map-5 {
  left: 52.5%;
  top: 66%;
}

.map-6 {
  left: 51.5%;
  top: 72.5%;
}

.map-7 {
  left: 75%;
  top: 56%;
}

.map-8 {
  left: 77%;
  top: 57%;
}

.map-9 {
  top: 49%;
  left: 74.5%;
}

.map-10 {
  left: 79%;
  top: 68%;
}

.sub-maps {
  width: 270px;
  padding: 20px;
  box-shadow: 0px 10px 30px #ea0a2a33;
  border-radius: 16px 16px 16px 0px;
  font-size: 14px;
  z-index: 2;
  background: #fff;
  transition: 0.3s all;
  pointer-events: none;
  position: absolute;
  bottom: 75px;
  left: 30px;
  opacity: 0;
}
.sub-maps:after {
  content: url("../images/after.svg");
  position: absolute;
  left: 0;
  bottom: -20px;
}
.sub-maps .logo-maps {
  margin-bottom: 15px;
}
.sub-maps p {
  margin-bottom: 10px;
}
.sub-maps p:last-child {
  margin-bottom: 0;
}

.dot-circle:hover .sub-maps {
  transition: 0.3s all;
  opacity: 1;
}

.list-worth .item {
  display: flex;
  margin-bottom: 30px;
}
.list-worth .item:last-child {
  margin-bottom: 0;
}
.list-worth .item .icon {
  flex: 0 0 40px;
  position: relative;
  margin-right: 25px;
}
.list-worth .item .icon:after {
  content: "";
  background: #FF4661;
  position: absolute;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  right: -5px;
  top: 14px;
  z-index: -1;
}
.list-worth .item h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.list-number {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.list-number .item {
  flex: 0 0 20%;
  max-width: 20%;
}
.list-number .img-top {
  margin-bottom: -36px;
  position: relative;
  z-index: 1;
}
.list-number .cir-numb {
  background: #ff6379;
  width: 156px;
  height: 156px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.list-number .cir-numb .icon {
  margin-bottom: 8px;
}
.list-number .txt-num {
  margin-top: 25px;
  font-size: 14px;
}
.list-number .txt-num span {
  font-size: 36px;
  font-weight: 700;
}

.list-new-home .row {
  margin: 0 -12px;
}
.list-new-home .row .col-md-6 {
  padding: 0 12px;
}

.date {
  background: #EA0A2A;
  margin-right: 20px;
  color: #fff;
  padding: 12px 10px 8px 10px;
  width: 73px;
  height: 73px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.date .num-date {
  font-size: 36px;
  font-weight: bold;
  line-height: 0.8;
  flex: 0 0 100%;
}
.date .num-date span {
  font-size: 14px;
}

.new-big {
  position: relative;
}
.new-big .info-abs {
  position: absolute;
  bottom: 0;
  padding: 0 40px 40px 40px;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: end;
}
.new-big .info a {
  display: flex;
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.item-new-small {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}
.item-new-small:last-child {
  margin-bottom: 0;
}
.item-new-small .avarta {
  flex: 0 0 184px;
  margin-right: 48px;
  position: relative;
  overflow: unset;
}
.item-new-small .avarta .date {
  position: absolute;
  top: 20px;
  right: -40px;
  pointer-events: none;
}
.item-new-small .info {
  line-height: 1.5;
  font-size: 14px;
}
.item-new-small .info a {
  font-size: 18px;
  font-weight: 700;
  display: block;
  line-height: 1.4;
  margin-bottom: 10px;
}

.list-gall .row {
  margin: 0 -12px;
}
.list-gall .row .col-md-6, .list-gall .row .col-md-3 {
  padding: 0 12px;
}
.list-gall .item-gall {
  margin-bottom: 24px;
}
.list-gall .item-gall:last-child {
  margin-bottom: 0;
}
.list-gall .item-gall img {
  border-radius: 20px;
}

.list-media {
  padding: 50px 0 0 0;
}
.list-media .row {
  margin: 0 -12px;
}
.list-media .col-md-4 {
  padding: 0 12px;
  margin-bottom: 100px;
}

.item-media .avarta {
  border-radius: 20px;
  margin-bottom: 30px;
}
.item-media .avarta img {
  transition: 0.6s all !important;
}
.item-media .avarta img:hover {
  transform: scale(1.07);
}
.item-media .info a {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.pagination li {
  margin-right: 6px !important;
}
.pagination li:first-child a, .pagination li:last-child a {
  border: 1px solid #EA0A2A;
}
.pagination a {
  display: flex;
  width: 32px;
  height: 32px;
  font-size: 14px;
  color: #828282;
  border-radius: 8px;
  border: 1px solid #828282;
  box-shadow: 0px 2px 10px rgba(187, 185, 217, 0.1);
  justify-content: center;
  align-items: center;
}
.pagination a:hover, .pagination a.active {
  background: #EA0A2A;
  border: 1px solid #EA0A2A;
  color: #fff;
}
.pagination a:hover img, .pagination a.active img {
  filter: invert(1);
}

.list-recruit .row {
  margin: 0 -12px;
}
.list-recruit .col-md-4 {
  padding: 0 12px;
  margin-bottom: 80px;
}

.item-cruit {
  height: 100%;
  box-shadow: 0px 10px 20px rgba(221, 221, 221, 0.5);
  border-radius: 24px;
  overflow: hidden;
  transition: 0.4s all;
  position: relative;
  top: 0;
}
.item-cruit:hover {
  transition: 0.4s all;
  top: -40px;
  box-shadow: 0px 10px 30px #ea0a2a33;
}
.item-cruit .avarta {
  position: relative;
}
.item-cruit .avarta span {
  background: #EA0A2A;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  pointer-events: none;
  height: 40px;
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 0 24px 0 0;
}
.item-cruit .info {
  padding: 40px 32px 0 32px;
  color: #828282;
}
.item-cruit .info h3 a {
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.item-cruit .info label {
  font-size: 18px;
  color: #828282;
  font-weight: 700;
  margin-bottom: 25px;
}
.item-cruit .info .place-date {
  font-size: 14px;
  color: #BDBDBD;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #828282;
  padding-bottom: 8px;
}
.item-cruit .info .place-date img {
  position: relative;
  margin-right: 5px;
  top: -4px;
}
.item-cruit .info .desc {
  color: #828282;
  padding: 12px 0 24px 0;
}

.btn-recruit a {
  background: #EA0A2A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  height: 64px;
  position: relative;
  left: -32px;
  width: calc(100% + 64px);
  border: 1px solid #EA0A2A;
}
.btn-recruit a:hover {
  background: #EA0A2A;
  color: #fff;
}

.box-ask {
  padding: 50px 0;
  background: #EEEEEE;
}

.item-ask {
  padding: 0 35px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 32px;
}
.item-ask:last-child {
  margin-bottom: 0;
}
.item-ask .title-ask {
  cursor: pointer;
}
.item-ask .title-ask h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 22px 30px 22px 0;
  position: relative;
}
.item-ask .title-ask h3:after {
  content: "";
  font-family: fontawesome;
  position: absolute;
  right: 0;
  top: 22px;
  transition: 0.4s all;
}
.item-ask .title-ask.active h3:after {
  transition: 0.4s all;
  transform: rotate(180deg);
}
.item-ask .answer {
  padding: 25px 0 40px 0;
  border-top: 1px solid #E0E0E0;
  font-size: 14px;
}
.item-ask .answer p {
  margin-bottom: 15px;
}
.item-ask .answer p:last-child {
  margin-bottom: 0;
}

.list-ask {
  max-width: 1038px;
  margin: 0 auto;
}

.content-news .tab-content {
  display: none;
}
.content-news .tab-content.active {
  display: block;
}

.tabs {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #BDBDBD;
  transition: 0.3s all;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.tabs li {
  display: inline-flex;
  height: 40px;
  border: 1px solid #BDBDBD;
  border-radius: 20px;
  padding: 0 25px;
  margin-right: 24px;
  cursor: pointer;
  transition: 0.3s all;
}
.tabs li:last-child {
  margin-right: 0;
}
.tabs li:hover, .tabs li.active {
  transition: 0.3s all;
  color: #000;
  border: 1px solid #000;
}

.slide-respon {
  margin: 0 -12px;
}

.item-slide {
  padding: 0 12px;
}

.item-respon {
  position: relative;
}
.item-respon .info {
  position: absolute;
  bottom: 0;
  padding: 24px;
  width: 100%;
  left: 0;
  display: flex;
}
.item-respon .info a {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  display: block;
  line-height: 1.3;
}

.box-prize {
  background-size: cover !important;
  position: relative;
}
.box-prize:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.box-prize .title {
  margin-bottom: 25px;
}
.box-prize .container {
  position: relative;
  z-index: 2;
}

.info-prize {
  color: #fff;
}
.info-prize .info {
  padding-left: 80px;
}
.info-prize .avarta {
  border-radius: 20px;
}
.info-prize .sapo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  padding-left: 45px;
  position: relative;
  margin-bottom: 20px;
}
.info-prize .sapo img {
  position: absolute;
  left: 0;
  top: 9px;
}
.info-prize .desc {
  font-size: 24px;
}
.info-prize .desc p {
  margin-bottom: 15px;
}
.info-prize .desc p:last-child {
  margin-bottom: 0;
}

.slide-member {
  margin: 0 -12px;
}
.slide-member .item-slide {
  padding: 12px;
}
.slide-member .item {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(221, 221, 221, 0.5);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s all;
  position: relative;
  top: 0;
  cursor: pointer;
}
.slide-member .item:hover {
  transition: 0.4s all;
  top: -12px;
  box-shadow: 0px 10px 30px rgba(234, 10, 42, 0.2);
}
.slide-member .item .info {
  padding: 25px 45px;
  position: relative;
}
.slide-member .item .info:before {
  content: "";
  width: 5px;
  height: 32px;
  background: #EA0A2A;
  position: absolute;
  left: 28px;
  top: 45px;
  border-radius: 40px;
}
.slide-member .item .info:after {
  content: "";
  width: 5px;
  background: #FF7373;
  height: 14px;
  position: absolute;
  border-radius: 30px;
  top: 26px;
  left: 28px;
}
.slide-member .item h5 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.slide-member .item h4 {
  font-size: 24px;
  font-weight: 700;
  color: #EA0A2A;
}

.detail h1, .detail h2, .detail h3, .detail h4, .detail h5, .detail h6 {
  font-weight: 700;
  margin-bottom: 10px;
}
.detail p {
  margin-bottom: 10px;
}
.detail p:empty {
  height: 10px;
}
.detail p img {
  max-width: 100%;
  height: auto;
  padding: 15px 0;
}

.by-post {
  font-size: 24px;
  font-weight: 500;
  padding: 10px 0 30px 0;
}

.list-invest .row {
  margin: 0 -12px;
}
.list-invest .row .col-md-6 {
  padding: 0 12px;
}

.item-invest {
  position: relative;
  border-radius: 10px;
}
.item-invest .info {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 30px;
  pointer-events: none;
}
.item-invest .info a {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.item-invest .avarta {
  border-radius: 10px;
}
.item-invest img {
  transition: 0.6s all;
}
.item-invest img:hover {
  transition: 0.6s all;
  transform: scale(1.06);
}

.content-invest {
  position: relative;
}
.content-invest:after {
  content: "";
  width: 60%;
  height: 100%;
  background: #EA0A2A;
  position: absolute;
  top: -53px;
  right: 0;
  z-index: -1;
}

.list-document {
  display: flex;
}
.list-document .left {
  flex: 0 0 184px;
  margin-right: 96px;
  text-align: center;
}
.list-document .left ul {
  list-style: none;
  background: #EA0A2A;
  padding: 35px 0;
  font-size: 24px;
  font-weight: 700;
  box-shadow: 0px 10px 20px rgba(234, 10, 42, 0.15);
  border-radius: 10px;
}
.list-document .left ul li {
  margin-bottom: 35px;
}
.list-document .left ul li:last-child {
  margin-bottom: 0;
}
.list-document .left a {
  color: #fff;
}
.list-document .left a.active {
  font-size: 30px;
}
.list-document .right {
  width: calc(100% - 280px);
}

.item-docs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 6px 0;
  border-bottom: 1px solid #333333;
  margin-bottom: 30px;
}
.item-docs .link-docs .link-docs {
  flex: 0 0 calc(100% - 95px);
}
.item-docs .link-docs .btn-docs {
  flex: 0 0 95px;
  text-align: right;
}

.side-bar-news {
  position: sticky;
  top: 20px;
}

.search-news {
  position: relative;
  margin-bottom: 60px;
}
.search-news input {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 20px;
  height: 72px;
  width: 100%;
  font-size: 18px;
  padding: 0 20px;
}
.search-news button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
  position: absolute;
  color: #BDBDBD;
  font-size: 20px;
  top: 20px;
  right: 15px;
}

.item-bar {
  display: flex;
  margin-bottom: 30px;
}
.item-bar:last-child {
  margin-bottom: 0;
}
.item-bar .avarta {
  flex: 0 0 108px;
  margin-right: 16px;
}
.item-bar .info a {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}
.item-bar .date-time {
  font-size: 12px;
  color: #828282;
}
.item-bar .date-time i {
  margin-right: 5px;
}

.social {
  padding: 18px 0;
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  margin-top: 50px;
}
.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background: #E0E0E0;
  border-radius: 100%;
  color: #fff;
}
.social a:hover {
  background: #EA0A2A;
}

.title-detail h1 {
  line-height: 1.4;
}

.bn-recruit {
  position: relative;
}

.caption-recruit {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding-bottom: 50px;
}
.caption-recruit a {
  color: #fff;
}
.caption-recruit h1 {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.caption-recruit .info {
  font-size: 18px;
  margin-bottom: 20px;
}
.caption-recruit .info li {
  margin-bottom: 15px;
  display: inline-flex;
  align-items: center;
  padding-right: 30px;
}
.caption-recruit .info li:last-child {
  padding-right: 0;
}
.caption-recruit .info li img {
  margin-right: 6px;
}

.bn-bot-recruit li {
  padding-right: 16px;
}
.bn-bot-recruit li:last-child {
  padding-right: 0;
}
.bn-bot-recruit .btn-social {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: transparent;
  border: 1px solid #fff;
}
.bn-bot-recruit .btn-social:hover {
  background: #EA0A2A;
  color: #fff;
  border: 1px solid #EA0A2A;
}

.btn-global {
  display: inline-flex;
  height: 47px;
  background: #EA0A2A;
  border-radius: 23.5px 23.5px 23.5px 0px;
  font-size: 18px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  color: #fff;
  border: 1px solid #EA0A2A;
}
.btn-global:hover {
  background: #fff;
  color: #EA0A2A !important;
}

.detail-content .bn-bot-recruit {
  padding-top: 50px;
}
.detail-content .btn-global {
  color: #fff;
}
.detail-content .btn-social {
  color: #DADADA;
  border: 1px solid #DADADA;
}
.detail-content .btn-social:hover {
  color: #fff;
  border: 1px solid #EA0A2A;
}

.side-bar-recruit {
  box-shadow: 0px 10px 20px #dddddd80;
  border-radius: 17px;
  background: #fff;
  padding: 32px;
  position: sticky;
  top: 20px;
}
.side-bar-recruit .title-bar {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.side-bar-recruit ul {
  list-style: none;
}
.side-bar-recruit ul li {
  margin-bottom: 15px;
}
.side-bar-recruit ul li:last-child {
  margin-bottom: 0;
}
.side-bar-recruit ul a {
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 6px;
}
.side-bar-recruit ul span {
  color: #828282;
}

.news-bar .title-bar {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.list-about .title {
  margin-bottom: 30px;
}

.txt-about-cate h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 12px;
}
.txt-about-cate p {
  margin-bottom: 15px;
}
.txt-about-cate p:last-child {
  margin-bottom: 0;
}

.item-about {
  margin-bottom: 80px;
}
.item-about:last-child {
  margin-bottom: 0;
}
.item-about:nth-child(2n+1) .txt-about-cate {
  padding-right: 80px;
}
.item-about:nth-child(2n) .col-md-6:first-child {
  order: 2;
}
.item-about:nth-child(2n) .col-md-6:last-child {
  order: 1;
}
.item-about:nth-child(2n) .txt-about-cate {
  padding-left: 80px;
}

.list-partner {
  margin: 0 auto;
  max-width: 780px;
}
.list-partner .col-md-2 {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 30px 15px;
}
.list-partner img {
  max-width: 103px;
  border-radius: 10px;
}

.item-part {
  text-align: center;
}

.box-global {
  background-size: contain !important;
}

.content-hist {
  padding: 60px 10px 0 10px;
}
.content-hist:after {
  content: "";
  width: 66%;
  height: calc(100% - 60px);
  background: #EEEEEE;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.item-his {
  box-shadow: 0px 10px 20px rgba(221, 221, 221, 0.5);
  padding: 30px 15px 100px 15px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  min-height: 200px;
}
.item-his .desc {
  font-size: 15px;
}
.item-his .year-his {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  background: #EA0A2A;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  line-height: 1;
  padding-bottom: 4px;
}

.box-history .title {
  margin-bottom: 24px;
}
.box-history .title h2 {
  font-size: 38px;
}
.box-history .container {
  position: relative;
}
.box-history .col-md-8 {
  position: unset;
}
.box-history .slide-history {
  position: unset;
}
.box-history .slick-arrow {
  top: unset;
  bottom: 50px;
  left: 15px;
  background: #E0E1E0;
  color: #fff;
  filter: none;
}
.box-history .slick-arrow:hover {
  background: #EA0A2A;
}
.box-history .slick-arrow.next {
  right: unset;
  left: 75px;
}

.about-history {
  background: #910016;
  color: #fff;
}

.caps-abs {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.item-dev {
  position: relative;
  padding: 200px 0 200px 80px;
}
.item-dev img {
  border-radius: 10px;
}
.item-dev .caption {
  background: #fff;
  color: #000000;
  padding: 20px;
  max-width: 310px;
  right: 0;
  top: 0;
  font-size: 15px;
  margin-left: auto;
  margin-right: 50px;
  z-index: 2;
}
.item-dev .caption h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.item-dev .avarta {
  position: relative;
  z-index: 2;
}
.item-dev .dev-year {
  font-size: 320px;
  font-weight: 300;
  color: #A9011A;
  line-height: 0.7;
  position: absolute;
  bottom: 100px;
  z-index: 0;
  left: 0;
}

.list-history {
  position: relative;
}
.list-history .item-slide:nth-child(2n+1) .dev-year {
  bottom: unset;
  top: 100px;
}
.list-history .left {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.list-history .left .avarta {
  border-radius: 10px;
}
.list-history:after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #FF4A68;
  position: absolute;
  left: 0;
  top: calc(50% - 7px);
}
.list-history:before {
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 100%;
  background: #FF4A68;
  position: absolute;
  left: 0;
  top: 50%;
}

.list-date-slide {
  position: absolute;
  top: 0;
  right: 0;
  text-align: initial;
  padding: 50px 50px 0 0;
}
.list-date-slide li {
  padding-right: 30px;
}
.list-date-slide li:last-child {
  padding-right: 0;
}
.list-date-slide a {
  color: #fff;
}

.notice-dev {
  position: absolute;
  color: #fff;
  bottom: 30px;
  right: 0;
  width: 100%;
  padding-right: 50px;
}

/*# sourceMappingURL=style.css.map */
