*{margin: 0; padding: 0}
@import "fonts.scss";
$font: 'FontAwesome'; 
body {
    box-sizing: border-box;
    color: #000000;
    padding: 0 !important; 
    font-size: 18px;  
    line-height: 1.6;
    transition: .3s all; 
    position: relative;
    font-weight: normal;
    font-family: 'PF BeauSans Pro';
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;       
        transition: .3s all;  
        margin-bottom: 0;  
        outline: none !important;  
    }    
    a { 
        transition: .3s all !important; 
        color: #000000;
        &:hover {
            // color: $blue;     
        }    
    } 
    ul {    
    	padding: 0; 
    	margin: 0; 
    }     
    input, button {   
    	outline: none !important; 
    	box-shadow: none; 
    	transition: .3s all; 
    }
    .slick-slide {
    	height: auto;  
        img {
            display: inline;
        }
    }
    .container {
        width: 100%;
        max-width: 1225px;
    } 
    img {
        max-width: 100%;
    }
}
// .row {
//     margin: 0 -10px;
//     div[class|="col"] {
//         padding: 0 10px;
//     }
// }
@import "layer.scss";
.slick-slider {
    margin-bottom: 0;
}
.avarta {
    overflow: hidden;
    img { 
        transition: .7s all;
        &:hover {
            transition: .7s all;
            // transform: scale(1.08); 
        }
    }
}

 